**/node_modules
**/.pnp
**/.pnp.js

**/.next/
out/
build/
dist/
data/

*.tsbuildinfo
next-env.d.ts

target/

.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

apps/backend/data/
apps/backend/bindings/
apps/backend/dist

storybook-static

.sqlx/
pnpm-lock.yaml
