.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	width: 100%;
}

.form input,
.form button {
	width: 100%;
}

.overlay {
	position: fixed;
	z-index: 1000;
	backdrop-filter: blur(4px);
	animation: showOverlay 250ms ease forwards;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.content {
	display: flex;
	position: fixed;
	top: 50%;
	left: 50%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	transform: translate(-50%, -50%);
	opacity: 0;
	z-index: 1001;
	animation: slideDown 250ms ease forwards;
	animation-delay: 40ms;
	will-change: transform, opacity;
	box-shadow: var(--foreground-shadow);
	border: none;
	border-radius: 8px;
	background-color: var(--color-foreground);
	padding: 48px;
	width: 400px;
	color: var(--color-text);
	font-family: inherit;
}

.field {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 4px;
	width: 100%;
}

.line {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 12px;
	width: 100%;
}

@keyframes slideDown {
	from {
		transform: translate(-50%, -50%) translateY(-32px);
		opacity: 0;
	}
	to {
		transform: translate(-50%, -50%) translateY(0);
		opacity: 1;
	}
}

@keyframes showOverlay {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
