.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	width: 100%;
}

.form input,
.form button {
	width: 100%;
}

.field {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 4px;
	width: 100%;
}

.line {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 12px;
	width: 100%;
}
