.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	width: 100%;
}

.form input,
.form button {
	width: 100%;
}

.dialog {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	transform: translateY(-64px);
	opacity: 0;
	animation: slideDown 320ms cubic-bezier(0.1, 0.5, 0.1, 1) forwards;
	animation-delay: 40ms;
	will-change: transform, opacity;
	box-shadow: var(--foreground-shadow);
	border: none;
	border-radius: 8px;
	background-color: var(--color-foreground);
	padding: 48px;
	width: 400px;
	color: var(--color-text);
}

.field {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 4px;
	width: 100%;
}

.line {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 12px;
	width: 100%;
}

@keyframes slideDown {
	from {
		transform: translateY(-64px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
