@import "tailwindcss";

/*============================= Global Variables =============================*/

:root {
	--color-primary: #59b800;
	--font-sans: var(--font-manrope), sans-serif;

	--color-primary-background: #59b8001a;
	--color-hover: #f8f8f8;

	--color-secondary: #f1f1f1;
	--color-secondary-hover: #e6e6e6;
	--color-foreground: #ffffff;
	--color-background: #fbfbfb;
	--color-text: #000000;
	--color-border: #e6e6e6;
	--color-border-hover: #bfbfbf;

	--foreground-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

	background-color: var(--color-background);
	color: var(--color-text);
	font-size: var(--font-size-medium);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-primary-background: #9fff461a;
		--color-hover: #333333;
		--color-secondary: #1a1a1a;
		--color-secondary-hover: #333333;
		--color-foreground: #101010;
		--color-background: #0d0d0d;
		--color-text: #ffffff;
		--color-border: #1f1f1f;
		--color-border-hover: #555555;
		--foreground-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	}
}

@theme inline {
	--color-primary: var(--color-primary);
	--color-primary-background: var(--color-primary-background);
	--color-hover: var(--color-hover);
	--color-secondary: var(--color-secondary);
	--color-secondary-hover: var(--color-secondary-hover);
	--color-foreground: var(--color-foreground);
	--color-background: var(--color-background);
	--color-border: var(--color-border);
	--color-border-hover: var(--color-border-hover);
}

@layer base {
	h1 {
		@apply text-3xl;
	}
	h2 {
		@apply text-2xl;
	}
	h3 {
		@apply text-xl;
	}
	h4 {
		@apply text-lg;
	}
	h5 {
		@apply text-base font-medium;
	}
	h6 {
		@apply text-sm font-medium;
	}
}
