.base {
	border-radius: var(--border-radius);
	font-weight: 600;
	font-size: var(--font-size-medium);

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;

	height: 36px;
	min-width: 36px;
	border: none;

	cursor: pointer;

	transition: background-color 100ms ease-in-out;
}

.base:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.defaultSize {
	padding: 0 16px;
	width: fit-content;
}

.iconSize {
	padding: 0 0;
}

.iconSize svg {
	display: block;
}

.primary {
	background-color: var(--color-primary);
	color: #ffffff;
}

.primary:enabled:hover {
	background-color: hsl(from var(--color-primary) h s calc(l - 10));
}

.secondary {
	background-color: var(--color-secondary);
	color: var(--color-text);
}

.secondary:enabled:hover {
	background-color: hsl(from var(--color-secondary) h s calc(l - 10));
}

.destructive {
	background-color: rgba(255, 0, 0, 0.1);
	color: #cc0000;
}

.destructive:enabled:hover {
	background-color: rgba(255, 0, 0, 0.2);
}

.ghost {
	background-color: rgba(0, 0, 0, 0.1);
}

.ghost:enabled:hover {
	background-color: hsl(from var(--color-secondary) h s calc(l - 10));
}

@media (prefers-color-scheme: dark) {
	.base {
		color: #ffffff;
	}

	.destructive {
		background-color: rgba(255, 0, 0, 0.1);
		color: #cc0000;
	}

	.secondary:enabled:hover {
		background-color: hsl(from var(--color-secondary) h s calc(l + 10));
	}

	.ghost:enabled:hover {
		background-color: hsl(from var(--color-secondary) h s calc(l + 10));
	}
}
