.base {
	margin: 4px;
	box-shadow: 0 0 2px 1px
		color-mix(in srgb, var(--indicator-color) 50%, transparent);
	border-radius: 50%;
	background-color: var(--indicator-color);
	width: 6px;
	height: 6px;
}

.success {
	--indicator-color: #00ff00;
}

.working {
	--indicator-color: #ffcc00;
}

.error {
	--indicator-color: #ff0000;
}
