.root {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.root > *:last-child {
	margin-right: 0;
	margin-left: auto;
}

.logo {
	align-self: start;
}

.details {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}

.email {
	color: var(--color-text);
	font-size: var(--font-size-small);
}
