.page {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 16px;
}

.titleInfo {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
