.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.trigger {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	transition: background-color 100ms ease-in-out;
	border: transparent;
	border-radius: 6px;
	background-color: transparent;
	padding: 8px 16px;
	color: var(--color-text);
}

.trigger:hover {
	cursor: pointer;
}

.trigger[data-state="active"] {
	background-color: var(--color-primary-background);
	color: var(--color-primary);
}

.list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
	box-shadow: var(--foreground-shadow);
	border-radius: 10px;
	background-color: var(--color-foreground);
	padding: 4px;
	width: 100%;
}
