name: Lint

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      issues: write # PR Comments
      pull-requests: write
      statuses: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
            # super-linter needs the full git history to get the
            # list of files that changed across commits
            fetch-depth: 0
            persist-credentials: false
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Super-linter
        uses: super-linter/super-linter@v8.5.0 # x-release-please-version
        env:
          # Prettier
          VALIDATE_CSS_PRETTIER: true
          VALIDATE_HTML_PRETTIER: true
          VALIDATE_JAVASCRIPT_PRETTIER: true
          VALIDATE_JSON_PRETTIER: true
          VALIDATE_JSONC_PRETTIER: true
          VALIDATE_JSX_PRETTIER: true
          VALIDATE_MARKDOWN_PRETTIER: true
          VALIDATE_TYPESCRIPT_PRETTIER: true
          PRETTIER_COMMAND_OPTIONS: "--ignore-path .gitignore"

          # ESLint
          VALIDATE_JAVASCRIPT_ES: true
          VALIDATE_TYPESCRIPT_ES: true

          # Rust
          VALIDATE_RUST_2021: true
          VALIDATE_RUST_CLIPPY: true

          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          # Non-workflow
          SQLX_OFFLINE: true
