.sidebar {
	display: flex;
	flex-direction: column;
	box-shadow: var(--foreground-shadow);
	background-color: var(--color-foreground);
	width: 250px;
	height: 100vh;
}

.sidebarContent {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	gap: 4px;
	padding: 8px;
	width: 100%;
	overflow-y: auto;
}

.sidebarLink {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 8px;
	transition: background-color 100ms ease-in-out;
	border-radius: 6px;
	padding: 8px;
	color: var(--color-text);
	text-decoration: none;
}

.sidebarLinkActive {
	background-color: var(--color-primary-background);
	color: var(--color-primary);
}

.sidebarLink:hover:not(.sidebarLinkActive) {
	background-color: var(--color-secondary);
}

.sublinkGroup .sidebarLink {
	font-size: var(--font-size-small);
}

.sublinkGroup {
	display: flex;
	flex-direction: row;
	gap: 2px;
	padding-left: 16px;
}

.sublinkChildren {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.sidebarHeader {
	display: flex;
	position: sticky;
	top: 0;
	flex-direction: column;
	padding: 12px;
}

.sidebarFooter {
	position: sticky;
	bottom: 0;
	margin-top: auto;
	padding: 12px;
}
